<mat-dialog-content class="mat-typography">
    <form [formGroup]="employeeform" (submit)="submit()" class="space-y-3">
        <div class="form.group">
            <label>Primer apellido</label>
            <div class="input-date2">
                <span><i class="fa fa-user" aria-hidden="true"></i></span>
                <input type="text" formControlName="fistLastname" required
                    placeholder="Solo en Mayuscula sin acentos ni Ñ">
                    <!-- Si el campo se deja vacio o sin el formato requerido -->
                    @if(employeeform.controls.fistLastname.touched && employeeform.controls.fistLastname.invalid){
                        <mat-error>
                           @if(employeeform.controls.fistLastname.errors.required){<span>Este campo es obligatorio</span>}
                           @else if (employeeform.controls.fistLastname.errors.pattern) {<span>Debe ser en Mayuscula sin acentos ni Ñ. Y menos de 20 letras</span>}
                        </mat-error>
                    }@else {}
            </div>
        </div>
        <div class="form.group">
            <label>Segundo apellido</label>
            <div class="input-date2">
                <span><i class="fa fa-user" aria-hidden="true"></i></span>
                <input type="text" formControlName="secondLastname" required
                    placeholder="Solo en Mayuscula sin acentos ni Ñ">
                    @if(employeeform.controls.secondLastname.touched && employeeform.controls.secondLastname.invalid){
                        <mat-error>
                           @if(employeeform.controls.secondLastname.errors.required){<span>Este campo es obligatorio</span>}
                           @else if (employeeform.controls.secondLastname.errors.pattern) {<span>Debe ser en Mayuscula sin acentos ni Ñ. Y menos de 20 letras</span>}
                        </mat-error>
                    }@else {}
            </div>
        </div>
        <div class="form.group">
            <label>Primer Nombre</label>
            <div class="input-date2">
                <span><i class="fa fa-user" aria-hidden="true"></i></span>
                <input type="text" formControlName="fistName" required placeholder="Solo en Mayuscula sin acentos ni Ñ">
                @if(employeeform.controls.fistName.touched && employeeform.controls.fistName.invalid){
                    <mat-error>
                       @if(employeeform.controls.fistName.errors.required){<span>Este campo es obligatorio</span>}
                       @else if (employeeform.controls.fistName.errors.pattern) {<span>Debe ser en Mayuscula sin acentos, espacios, ni Ñ. Y menos de 20 letras</span>}
                    </mat-error>
                }@else {}
            </div>
        </div>
        <div class="form.group">
            <label>Otros Nombres</label>
            <div class="input-date2">
                <span><i class="fa fa-user" aria-hidden="true"></i></span>
                <input type="text" formControlName="anotherNames" 
                    placeholder="Mayuscula sin acentos ni Ñ,puede contener espacios">
                    @if(employeeform.controls.anotherNames.touched && employeeform.controls.anotherNames.invalid){
                        <mat-error>
                           @if(employeeform.controls.anotherNames.errors.required){<span>Este campo es obligatorio</span>}
                           @else if (employeeform.controls.anotherNames.errors.pattern) {<span>Debe ser en Mayuscula sin acentos ni Ñ. Y menos de 50 letras</span>}
                        </mat-error>
                    }
            </div>
        </div>
        <div class="form.group">
            <label>Pais</label>
            <div class="input-date2">
                <span><i class="fa fa-user" aria-hidden="true"></i></span>
                <select formControlName="country" required>
                    <option>Colombia</option>
                    <option>Estados Unidos</option>
                </select>
                @if(employeeform.controls.country.touched && employeeform.controls.country.invalid){
                    <mat-error>
                       @if(employeeform.controls.country.errors.required){<span>Este campo es obligatorio</span>}
                    </mat-error>
                }@else {}
            </div>
        </div>
        <div class="form.group">
            <label>Tipo de documento</label>
            <div class="input-date2">
                <span><i class="fa fa-user" aria-hidden="true"></i></span>
                <select formControlName="typeId" required>
                    <option>Cédula de Ciudadanía</option>
                    <option>Cédula de Extranjería</option>
                    <option>Pasaporte</option>
                    <option>Permiso Especial</option>
                    <option>DNI</option>
                </select>
                @if(employeeform.controls.typeId.touched && employeeform.controls.typeId.invalid){
                    <mat-error>
                       @if(employeeform.controls.typeId.errors.required){<span>Este campo es obligatorio</span>}
                    </mat-error>
                }@else {}
            </div>
        </div>
        <div class="form.group">
            <label>Número de documento</label>
            <div class="input-date2">
                <span><i class="fa fa-user" aria-hidden="true"></i></span>
                <input type="text" formControlName="idNumber" required>
                @if(employeeform.controls.idNumber.touched && employeeform.controls.idNumber.invalid){
                    <mat-error>
                       @if(employeeform.controls.idNumber.errors.required){<span>Este campo es obligatorio</span>}
                       @else if (employeeform.controls.idNumber.errors.pattern) {<span>Debe ser alfanumérico y no mayor a 20 cifras</span>}
                    </mat-error>
                }@else{}
            </div>
        </div>
        @if(dateIncome){
        <div class="form.group">
            <label>Fecha de ingreso</label><br>
            <label>{{data.dateIncome}}</label>
        </div>
        }@else {
        <div class="form.group">
            <label>Fecha de ingreso</label><br>
            <span>no debe ser mayor a la fecha actual, máximo 1 mes antes</span>
            <mat-form-field class="example-full-width">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" #fecha formControlName="dateIncome"
                    (dateChange)="changeDatePicker(fecha.value)">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
        </div>
        }
        <div class="form.group">
            <label>Area de trabajo</label>
            <div class="input-date2">
                <span><i class="fa fa-user" aria-hidden="true"></i></span>
                <select formControlName="area" required>
                    <option>Administración</option>
                    <option>Financiera</option>
                    <option>Compras</option>
                    <option>Infraestructura</option>
                    <option>Operación</option>
                    <option>Operación</option>
                    <option>Talento Humano</option>
                    <option>Servicios Varios</option>
                    <option>Desarollador</option>
                </select>
                @if(employeeform.controls.area.touched && employeeform.controls.area.invalid){
                    <mat-error>
                       @if(employeeform.controls.area.errors.required){<span>Este campo es obligatorio</span>}
                    </mat-error>
                }@else {}
            </div>
        </div>
        <div>
            <button type="submit" [disabled]="!(employeeform.valid && employeeform.dirty)"
                class="w-full justify-center rounded-md bg-teal-900 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-teal-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">Agregar</button>
        </div>
    </form>
</mat-dialog-content>