<div class="container mx-auto text-center font-bold  text-teal-700">
    <div class="text-2xl mt-10 border-b-4 border-teal-700 md:text-4xl uppercase">
        Bienvenido : {{message}}
    </div>
    <div class="flex flex-row px-1 xl:px-20 mt-10 mb-3">
        <mat-form-field class="flex-1">
            <mat-label>Filtrar</mat-label>
            <input matInput formControlName="names">
        </mat-form-field>
        <button class="w-24 bg-neutral-600 text-white h-12 mx-4 rounded-md font-medium ">Filtrar por</button>
        <button class="w-24 bg-neutral-600 text-white h-12 rounded-md font-medium " (click)="add()">Agregar empleado</button>
    </div>
    <div class="table mx-auto  uppercase">
        <div class="tables_employer flex items-center justify-center h-full">
            @if(confirm){
                <div
                class="w-1/2 h-1/5 border-4 border-teal-700 absolute bg-gray-200 bg-opacity-90 items-center justify-center rounded-xl">
                <div class="flex flex-col items-center justify-center h-2/3">
                    <span class="text-xl">Esta seguro de querer eliminar a:</span>
                    <span class="text-xl text-blue-800">{{id}}: {{name}} {{secondName}} {{lasname}}  {{secondLasname}}</span>
                </div>
                <button (click)="confirmDelete(id)" class=" mt-4 flex-shrink-0 mx-16 bg-red-700 h-10 w-24 text-white text-md">confirmar</button>
                <button (click)="cancelDelete()" class=" mt-4 flex-shrink-0 mx-16 bg-teal-700 h-10 w-24 text-white text-md">cancelar</button>
            </div>
            }
            <table>
                <thead class="">
                    <tr>
                        <th class="thead border-b-4 border-t-4 border-teal-700 border-l-4">ID</th>
                        <th class="thead border-b-4 border-t-4 border-teal-700">Nombres</th>
                        <th class="thead border-b-4 border-t-4 border-teal-700">Apellidos</th>
                        <th class="thead border-b-4 border-t-4 border-teal-700">Pais</th>
                        <th class="thead border-b-4 border-t-4 border-teal-700">Area</th>
                        <th class="thead border-b-4 border-t-4 border-teal-700">Correo electrónico</th>
                        <th class="thead border-b-4 border-t-4 border-teal-700">Identificación</th>
                        <th class="thead border-b-4 border-t-4 border-teal-700">Nº Identificación</th>
                        <th class="thead border-b-4 border-t-4 border-teal-700">Estado</th>
                        <th class="thead border-b-4 border-t-4 border-teal-700">Editar</th>
                        <th class="thead border-b-4 border-t-4 border-teal-700 border-r-4">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @for (employee of employees; track $index) {
                    <tr>
                        <td class="border-double pt-2 border-b-4 border-teal-700">{{employee.id}}</td>
                        <td class="border-double pt-2 border-b-4 border-teal-700">{{employee.fistName}} {{employee.anotherNames}}</td>
                        <td class="border-double pt-2 border-b-4 border-teal-700">{{employee.fistLastname}} {{employee.secondLastname}}</td>
                        <td class="border-double pt-2 border-b-4 border-teal-700">{{employee.country}}</td>
                        <td class="border-double pt-2 border-b-4 border-teal-700">{{employee.area}}</td>
                        <td class="border-double lowercase pt-2 border-b-4 border-teal-700">{{employee.email}}</td>
                        <td class="border-double pt-2 border-b-4 border-teal-700">{{employee.typeId}}</td>
                        <td class="border-double pt-2 border-b-4 border-teal-700">{{employee.idNumber}}</td>
                        @if(employee.status == 'true'){
                        <td class="text-green-500 pt-2 border-double border-b-4 border-teal-700"><mat-icon>radio_button_checked</mat-icon></td>
                        }@else { <td class="text-red-400 pt-2 border-double border-b-4 border-teal-700"><mat-icon>radio_button_checked</mat-icon></td>}
                        <td class="text-blue-800 pt-2 border-double border-b-4 border-teal-700"><mat-icon (click)="edit(employee.id)" >edit</mat-icon></td>
                        <td class="text-red-700 pt-2 border-double border-b-4 border-teal-700"><i class="fa fa-trash" aria-hidden="true"
                                (click)="deleteEmployee(employee.id,employee.fistName,employee.anotherNames,employee.fistLastname,employee.secondLastname)"></i></td>
                    </tr>
                    }@empty {
                        NO HAY PW NO HAY!!
                    }
                </tbody>
            </table>
        </div>
        <mat-paginator [length]="count" [pageSize]="pageSize" (page)="onPageChange($event)">>
        </mat-paginator>
    </div>
</div>