.input-date2{
    color:rgb(15 118 110);
}
.form.group{
    width: 100%;
}

input, select{
    padding: auto;
    width: 85%;
    height: 40px;
    border:solid 4px rgb(15 118 110);
    border-radius: 0.5em;
    margin-left: 8px;
}

button:disabled {
    opacity: 0.2;
}
